body {
    background-image: url("https://colorscheme.ru/img/color-harmony-pastels/10/1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
p {background-color: chartreuse;}
a {
    background-color: aqua;
}
b {
    background-color: rgb(190, 235, 113);
}



